{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 3</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

	<style type="text/css">
  .About-Panel {
    width: 345px;
    height: 614px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(246, 246, 246, 0.74);
  }
	</style>

</head>

<body>
	<div class="rider1">
		<div class="about-panel">
			<img src="{% static 'Photo.png' %}">
				</div>
			</div>

  <script>

  </script>
</body>
</html>
